packages: [
  "atom-shell-commands"
  "autocomplete-python"
  "dash-syntax"
  "dash-ui"
  "duotone-blue-dark-syntax"
  "duotone-dark-syntax"
  "file-icons"
  "language-latex"
  "language-ldraw"
  "language-markdown"
  "language-matlab"
  "language-matlab-octave"
  "language-restructuredtext"
  "language-swift"
  "language-verilog"
  "markdown-fold"
  "native-ui"
  "package-sync"
  "pigments"
  "seti-syntax"
  "seti-ui"
  "Sublime-Style-Column-Selection"
]
